/***** Global and Bootstrap fixing *****/
* {
  /*font-family: "ff-tisa-web-pro-1", "ff-tisa-web-pro-2", "Lucida Grande", "Helvetica Neue", Helvetica, Arial, "Hiragino Sans GB", "Hiragino Sans GB W3", "WenQuanYi Micro Hei", sans-serif;*/
  font-family: "PingFang", "Helvetica Neue", "Helvetica", "STHeitiSC-Light", "Arial", "Hiragino Sans GB", "Hiragino Sans GB W3", "WenQuanYi Micro Hei", sans-serif;
  -webkit-font-smoothing: antialiased;
}

textarea {
  resize: vertical;
}

/* All input areas are monospace for good indenting */
input,
textarea,
pre,
pre *{
  font-family: monospace !important;
}

pre {
  margin-bottom: 0 !important;
  white-space  : pre-wrap;
}

p {
  font-size: 16px;
}

a,
a:active,
a:hover,
a:focus,
a:visited {
  cursor         : pointer;
  text-decoration: none !important;
}

footer {
  min-height    : 150px;
  padding-top   : 30px;
  padding-bottom: 30px;
  margin-top    : 50px;
}

@media screen and (max-width: 768px) {
  body > .container,
  body > .container-fluid {
    padding: 0px 20px 0px 20px;
  }

  .jumbotron {
    padding-left  : 20px;
    padding-right : 20px;
    margin-top    : -50px;
    padding-top   : 50px;
    padding-bottom: 50px;
  }
}

.jumbotron {
  margin-top    : -50px;
  padding-top   : 150px;
  padding-bottom: 150px;
}

.navbar {
  border-radius: 0;
}
.navbar-nav > li > a {
  color: white !important;
}
.navbar-nav > li:hover {
  color: white !important;
  background: #666;
}

.dropdown-menu > li > a:hover {
  color: white !important;
  background: #666;
}

.has-error .btn {
  border-color      : #a94442;
  -webkit-box-shadow: inset 0 1px 1px rgba(0,0,0,0.075);
  box-shadow        : inset 0 1px 1px rgba(0,0,0,0.075);
  transition        : border-color ease-in-out .15s,
                      box-shadow   ease-in-out .15s;
}

.table tr td:last-of-type {
  padding-right: 10px;
}

.dropdown,
.dropup {
  display: inline-block;
}

.progress-bar {
  min-width: 3em;
}

@media screen and (max-width: 768px) {
  .container {
    padding: 0;
  }
  .container > .col-xs-12 {
    padding: 0;
  }
  .panel {
    padding           : 0;
    border-radius     : 0;
    border            : none;
    box-shadow        : none;
    -webkit-box-shadow: none;
  }
}

@media screen and (min-width: 768px) {
  .table-responsive {
    overflow-x: visible;
    overflow-y: visible;
  }
}

.thumbnail > img,
.thumbnail > video {
  height : 150px;
  display: block;
}

.tooltip-inner {
  max-width  : none;
  font-family: monospace;
  font-size  : 15px;
}

.popover {
  max-width: none;
}

.panel {
  border: 1px solid #CCC;
}

div.panel-body + div.panel-body {
  border-bottom: 1px solid rgb(221, 221, 221);
}

.label-inline {
  display: inline-block;
}

[data-toggle="collapse"] {
  cursor: pointer;
}

/***** Bootstrap color extending *****/
.text-danger      {color: red; }
.text-muted-light {color: lightgrey; }
.text-muted       {color: darkgrey; }
.text-watch       {color: orange; }

.badge-red {background-color: red; }

.text-muted,
.text-muted-light,
.text-primary,
.text-info,
.text-success,
.text-warning,
.text-watch,
.text-danger {
  font-weight: bolder !important;
}

/***** Web App Template CSS wat-* *****/
.navbar > .wat-navbar-notice {
  text-align      : center;
  padding         : 3px;
  background-color: lightyellow;
  border-top      : 2px solid orange;
  border-bottom   : 2px solid orange;
}

hr.compact,
hr.compacted {
  margin : 1px;
  padding: 1px;
}

hr.breakline {
  margin : 1px;
  padding: 1px;
  border : none;
}

/* Panel */
.wat-panel-title {
  font-size : 28px;
  font-style: italic;
}
.wat-panel-title-sm {
  font-size : 20px;
  font-style: italic
}

/* Blur */
.wat-blur {
  -webkit-filter: blur(5px); /* Chrome, Opera */
     -moz-filter: blur(5px);
      -ms-filter: blur(5px);
          filter: blur(5px);
}

.wat-faded {
  opacity: 0.5;
}

/* Shadow */
#watPageSize,
.wat-pagination,
.panel {
  box-shadow: inset 0   1px 1px rgba(0, 0, 0, 0.075),
                    3px 3px 8px rgba(0, 0, 0, 0.15) !important;
}

/* Captcha */
#watCaptcha {
  letter-spacing: 20px;
  font-size     : x-large;
  text-align    : left;
  padding-left  : 40px;
}

/* Input backgrounds */
.wat-input-green {
  background-color: rgb(230, 255, 225);
}
.wat-input-yellow {
  background-color: rgb(255, 255, 230);
}
.wat-input-red {
  background-color: rgb(255, 230, 225);
}

/*Button*/
.wat-round-btn {
  border-radius: 25px !important;
}

/* Web site notice */
.wat-top-notice {
  border          : solid 1px orange;
  background-color: #fdf2de;
  color           : orange;
  text-align      : center;
  padding         : 3px;
}

/* Notice red dot */
.wat-notice-dot {
  color   : red;
  position: absolute;
  top     : 2px;
  right   : 2px;
}

/* Modifying page title */
.wat-modifying-title {
  line-height: 36px;
  font-size  : 18px;
}

@media screen and (max-width: 768px) {
  .wat-modifying-title {
    font-size: 15px;
  }
}

/* Table */
.wat-border-by-two-row tr:nth-child(odd),
.wat-border-by-two-row tr:nth-child(odd) td {
    border-bottom: none;
}
.wat-border-by-two-row tr:nth-child(even),
.wat-border-by-two-row tr:nth-child(even) td {
    border-top: none;
}

.wat-td-top,
.wat-td-top td,
.wat-td-top .form-group,
.wat-td-top .form-inline {
  vertical-align: top !important;
}

.wat-td-middle,
.wat-td-middle td,
.wat-td-middle .form-group,
.wat-td-middle .form-inline {
  vertical-align: middle !important;
}

.wat-td-bottom,
.wat-td-bottom td,
.wat-td-bottom .form-group,
.wat-td-bottom .form-inline {
  vertical-align: bottom !important;
}

/* Manual tip */
.wat-manual-tip-button {
  font-size: 14px;
}
.wat-manual-tip-title {
  padding: 10px;
}
.wat-manual-tip-body {
  padding: 30px;
}
.wat-manual-tip-body h1,
.wat-manual-tip-body h2,
.wat-manual-tip-body h3,
.wat-manual-tip-body h4,
.wat-manual-tip-body h5,
.wat-manual-tip-body h6 {
  font-weight: bold;
  font-size  : 15px;
  padding-top: 10px;
}
.wat-manual-tip-body p,
.wat-manual-tip-body span {
  font-size   : 15px;
  line-height : 25px;
}

/* Panel heading */
.panel-body.wat-panel-heading {
  border-bottom: 1px solid rgb(221, 221, 221);
}
.panel-body.wat-panel-heading > div {
  white-space     : nowrap;
  text-overflow   : ellipsis;
  -o-text-overflow: ellipsis;
}

/* Progress bar */
.progress.wat-statistics-scale {
  margin: 0;
}
.progress.wat-statistics-scale > .progress-bar {
  min-width: 3em;
}

/* Dashboard panel */
.wat-dashboard-panel > .panel {
  padding-top   : 10px;
  padding-bottom: 30px;
}
.wat-dashboard-panel:hover * {
  color     : white !important;
  transition: color ease-in-out .15s,
}
.wat-dashboard-panel:hover > div {
  border-color    : #66afe9 !important;
  background-color: #66afe9 !important;
  transition: border-color     ease-in-out .15s,
              background-color ease-in-out .15s,
              box-shadow       ease-in-out .15s;
}
.wat-dashboard-title {
  font-size: 24px;
}
.wat-dashboard-extra-info {
  font-size    : 14px;
  position     : absolute;
  right        : 25px;
  top          : 10px;
  border-radius: 10px;
}

/* Text control */
.wat-big-text {
  font-size: 20px !important;
}

.wat-nowrap {
  white-space: nowrap;
}
pre.wat-nowrap,
textarea.wat-nowrap {
  white-space: pre;
}
.wat-text-overflow {
  white-space     : nowrap;
  text-overflow   : ellipsis;
  -o-text-overflow: ellipsis;
  overflow        : hidden;
}

.wat-force-wrap {
  word-break: break-all;
}

/* Use monospace font family */
.wat-mono,
.wat-mono :not(.fa) {
  font-family: monospace;
}

/* CAPTCHA image */
.wat-captcha {
  padding: 0;
}
.wat-captcha > img {
  height: 32px;
}

/* Pagination */
#watPageSize,
.wat-pagination {
  margin: 0px;
  border: 1px solid rgb(221, 221, 221);
}

/* Hint box */
.wat-dashed-border {
  font-size: 24px;
  display  : block;
  border   : 3px lightgrey dashed;
  padding  : 10px;
}

/* File view */
.wat-file-view {
  max-width: 100%;
}
.wat-file-view-thumbnail {
  max-width : 300px;
  max-height: 100px;
  display   : block;
}
#watFileViewModal .modal-dialog {
  width : 80%;
  height: 60%;
}
#watFileViewModal .modal-body {
  background-color: black;
}
[wat-file-view-model] {
  cursor: pointer;
}
[wat-preview-for] img,
[wat-preview-for] canvas,
[wat-preview-for] video {
  max-width: 100%;
}

/* pre tag as plain text */
pre.wat-plain-text {
  background    : none;
  border        : none;
  padding       : 10px;
  padding-bottom: 20px;
}
pre.wat-plain-text-compact,
pre.wat-plain-text-compacted {
  background    : none;
  border        : none;
  padding       : 0;
  padding-bottom: 0;
}
pre.wat-indent {
  margin-left: 1em;
}
pre.wat-indent-2 {
  margin-left: 2em;
}
pre.wat-indent-3 {
  margin-left: 3em;
}
pre.wat-indent-4 {
  margin-left: 4em;
}

/*API Document*/
.wat-doc {
}

.wat-doc ul,
.wat-doc ol {
  font-size  : 16px;
  margin-left: -20px;
  line-height: 30px;
}
.wat-doc p {
  font-size  : 16px;
  line-height: 32px;
}
.wat-doc pre {
  font-size  : 14px;
}
.wat-doc blockquote {
}
.wat-doc blockquote > p {
  color: grey;
}
.wat-doc table {
  margin-right   : 60px;
  width          : 100%;
  border-collapse: collapse;
}
.wat-doc table tr {
  border-top      : 1px solid #cccccc;
  background-color: white;
  margin          : 0;
  padding         : 0;
}
.wat-doc table tr:nth-child(2n) {
  background-color: #f8f8f8;
}
.wat-doc table tr th {
  font-weight: bold;
  border     : 1px solid #cccccc;
  margin     : 0;
  padding    : 6px 13px;
}
.wat-doc table tr td {
  border : 1px solid #cccccc;
  margin : 0;
  padding: 6px 13px;
  font-family: monospace !important;
}
.wat-doc table tr th :first-child {
  margin-top: 0;
}
.wat-doc table tr th :last-child {
  margin-bottom: 0;
}
.wat-doc em {
  color: red;
}
.wat-doc h1,
.wat-doc h2,
.wat-doc h3,
.wat-doc h4,
.wat-doc h5,
.wat-doc h6 {
  margin-left: -30px;
}
.wat-doc h1 {
  margin-top : 50px;
}
.wat-doc h2 {
  margin-top : 30px;
}
.wat-doc h3,
.wat-doc h4,
.wat-doc h5,
.wat-doc h6 {
  margin-top : 20px;
}

.wat-doc h1 {
  font-size  : 32px;
  font-weight: bolder;
}
.wat-doc h2 {
  font-size    : 24px;
  font-weight  : bolder;
  border-bottom: 1px solid lightgrey;
}
.wat-doc h3 {
  font-size : 18px;
  font-style: italic;
}
.wat-doc h4 {
  font-size  : 16px;
  color      : grey;
  font-weight: bolder;
}
.wat-doc h5 {
  font-size : 14px;
  color     : grey;
}
.wat-doc h6 {
  font-size : 14px;
  color     : grey;
  font-style: italic;
}
.wat-doc img {
  max-width: 100%;
}

.wat-doc-title {
  font-size: 20px;
}

.wat-doc-url {
  max-width  : 90%;
  display    : inline-flex;
  font-size  : 24px;
  font-family: monospace;
  background : none;
  border     : none;
  padding    : 0;
}
.wat-doc-url code {
  background : none;
}

.wat-doc-desc {
  padding-left: 20px;
}
.wat-doc-desc h1,
.wat-doc-desc h2,
.wat-doc-desc h3,
.wat-doc-desc h4,
.wat-doc-desc h5,
.wat-doc-desc h6 {
  margin-left: unset !important;
}

.wat-doc-reset-btn {
  vertical-align: top;
}

.wat-doc-no-break {
  white-space: pre;
  overflow   : auto;
}

.wat-doc-input-control,
.wat-doc-select-control {
  width  : 180px !important;
}

.wat-doc-body-sample-col {
  min-width: 380px;
}

.wat-doc-deprecated,
.wat-doc-deprecated span,
.wat-doc-deprecated strong,
.wat-doc-deprecated pre {
  color: darkgrey;
  text-decoration: line-through;
}
