# For Oracle Database support:
# see https://oracle.github.io/odpi/doc/installation.html#linux

arrow==0.17.0
celery[redis]==5.2.7
clickhouse-driver==0.1.5
croniter==1.3.5
cx-Oracle==7.3.0
DBUtils==1.4
funcsigs==1.0.2
influxdb==5.3.1
kafka-python3==3.0.0
nanoid==2.0.0
paho-mqtt==1.6.1
psutil==5.9.1
psycopg2==2.9.3
pycryptodomex==3.15.0
pykafka==2.8.0
pymongo==3.12.3
pymssql==2.2.5
PyMySQL[rsa,ed25519]==1.0.2
python-dateutil==2.8.1
python3-memcached==1.51
PyYAML==5.4.1
redis==3.5.3
requests==2.28.1
retry2==0.9.4
simplejson==3.17.6
six==1.16.0
ujson==5.4.0
xmltodict==0.13.0
