# For Raspberry Pi:
# `sudo apt-get install libffi-dev libatlas-base-dev`
#
# For Oracle Database support:
# see https://oracle.github.io/odpi/doc/installation.html#linux

arrow==0.15.7
celery[redis]==4.4.6
clickhouse-driver==0.1.3
crontab==0.22.2
cx-Oracle==7.3.0
dateparser==0.7.4
DBUtils==1.3
dnspython==1.16.0
funcsigs==1.0.2
influxdb==5.2.3
isodate==0.6.0
jieba==0.39
jsonpath-ng==1.5.1
mailer==0.8.1
mysqlclient==1.4.6
numpy==1.18.1
psycopg2-binary==2.8.5
pycryptodomex==3.8.0
pygrok==1.0.0
pykafka==2.8.0
pylru==1.2.0
pymongo==3.10.1
pymssql==2.1.4
pynsq==0.8.3
python-dateutil==2.7.2
python3-memcached==1.51
PyYAML==4.2b2
redis==3.5.3
requests==2.24.0
retry==0.9.2
shortuuid==0.5.0
simplejson==3.17.0
six==1.12.0
ujson==3.0.0
xmltodict==0.9.2
