@font-face {
  font-family: Iosevka;
  src: url(/statics/font/iosevka-fixed-regular.woff2);
}

html {
    box-sizing: border-box;
    overflow: -moz-scrollbars-vertical;
    overflow-y: scroll;
}

*,
*:before,
*:after {
  box-sizing: inherit;
}

body {
    margin: 0;
    background: #fafafa;
    padding-bottom: 100px;
}

.swagger-ui em {
  color: red;
  font-weight: bold;
  font-style: normal;
}
.swagger-ui em:before {
  content: '!';
  position: relative;
  font-size: 30px;
  font-family: serif;
  line-height: 0;
  margin-right: 3px;
}
.swagger-ui textarea {
  background-color: white;
  border: 1px solid #d9d9d9;
  box-shadow: 1px 1px 5px #ccc;
  font-family: Iosevka;
  font-size: 16px;
  line-height: 1.8;
  resize: vertical;
}

.swagger-ui .info hgroup.main a {
  font-size: 18px;
}
.swagger-ui .info hgroup.main a::before {
  content: 'API YAML Source';
  border: 1px solid;
  border-top-right-radius: 36px;
  padding: 0 10px;
  margin-right: 5px;
  background-color: #FF6600;
  color: white;
  position: relative;
  bottom: -1px;
}
.swagger-ui .download-url-wrapper,
.swagger-ui .try-out {
  display: none !important;
}

.swagger-ui .info a {
  color: #4051B5;
  font-size: 16px;
  text-decoration: none;
  display: inline-block;
  border-bottom: 1px dashed;
}
.swagger-ui .info a:hover,
.swagger-ui .info hgroup.main a:hover {
  color: #FF6600;
  border-bottom: 1px dashed #FF6600;
}

.swagger-ui .execute-wrapper,
.swagger-ui .btn-group {
  display: block;
  text-align: left;
  padding: 30px;
}
.swagger-ui .btn.execute,
.swagger-ui .btn-group .btn {
  width: 200px;
  height: 40px;
  box-shadow: 1px 1px 5px #ccc;
  margin-right: 10px;
  border-radius: 50px !important;
}

.swagger-ui table tbody tr td {
  vertical-align: middle;
  padding-right: 50px !important;
}
.swagger-ui .parameter__name {
  font-size: 18px;
  font-family: Iosevka;
}

.swagger-ui .opblock .opblock-summary-path * {
  font-family: Iosevka;
  font-size: 18px;
}
.swagger-ui .opblock .opblock-summary-description {
  text-align: right;
  margin-right: 20px;
  font-size: 18px;
}
.swagger-ui .opblock-body {
  background-color: white;
}
.swagger-ui .opblock-body select,
.swagger-ui .parameters-col_description input[type=file],
.swagger-ui .parameters-col_description input[type=text] {
  background-color: white;
  border: 1px solid #d9d9d9;
  box-shadow: 1px 1px 5px #ccc;
  max-width: 400px;
  width: 100%;
  height: 40px;
  font-family: Iosevka;
}
.swagger-ui .parameters-col_description input[type=checkbox] {
  width: unset;
}
.swagger-ui .parameter__empty_value_toggle.disabled {
  display: none;
}

.swagger-ui .markdown :not(pre) code,
.swagger-ui .renderedMarkdown :not(pre) code {
  font-family: Iosevka;
  color: #FF6600;
  margin: 0;
  padding: 3px 5px;
  font-weight: normal;
  font-style: normal;
  border-radius: 5px;
  background-color: rgb(255,102,0,.05);
  white-space: nowrap;
}
.swagger-ui .markdown code,
.swagger-ui .renderedMarkdown code {
  color: black;
  font-weight: normal;
}

.swagger-ui .markdown pre>code,
.swagger-ui .renderedMarkdown pre>code,
.swagger-ui .opblock-body pre.microlight *{
  font-family: Iosevka;
  font-size: 16px;
  line-height: 1.8;
}
.swagger-ui .renderedMarkdown * {
  font-size: 16px !important;
  line-height: 1.8;
}

.swagger-ui .copy-to-clipboard,
.swagger-ui .curl-command .copy-to-clipboard {
  bottom: 20px;
  right: 20px;
  height: 30px;
  width: 30px;
}
.swagger-ui .download-contents {
  right: 60px;
  bottom: 20px;
}