<%
  var e = pageData.error;
%>

<% include ../_utils/header %>

<style type="text/css">
  .auth-tip {
    font-size  : larger;
    line-height: 30px;
    padding    : 30px 30px 50px 30px;
  }
</style>
<div class="container">
  <div class="col-xs-12 col-md-8 col-md-offset-2">
    <h1><%= __('Authentication Required') %></h1>
    <p class="auth-tip">
      <%= __('Cannot access the content,') %><br />
      <% if (!currentUser.isSignedIn) { %>
        <%= __('Cannot access the content without sign-in.') %><br />
        <br />
        <span style="font-size: 28px;">
          <%
            // components.aLink(CONFIG._WEB_SIGN_IN_PAGE || 'authPage.signIn', {
            components.aLink('authPage.signIn', {
              query: {
                nextURL: toolkit.getBase64(req.originalUrl),
              },
              icon : 'sign-in',
              title: __('Sign In NOW'),
            })
          %>
        </span>
      <% } else { %>
        <%= __('Cannot access the content by current authentication type.') %>
      <% } %>
    </p>
  </div>
</div>

<% include ../_utils/footer %>
