<%
  var e = pageData.error;
%>

<% include ../_utils/header %>

<div class="container">
  <div class="col-xs-12 col-md-8 col-md-offset-2">
    <% components.errorInfo(e) %>

    <h3><%= __('Please contact the administrator to report the error with the information above.') %></h3>
  </div>
</div>

<% include ../_utils/footer %>